Session_5-Introducing_web_frameworks/Unibay/views/clothes.jade
extends layout

block content
  h1= title
  h2 Clothes for sale
  #results 
    .row 
        each val in data
            .col-md-4
                .resultsItem
                    h3= val.title
        

Session_9-Interacting_with_a_database_from_Flask/unibay-flask-example/app/templates/clothes.html
{% extends "layout.html" %}

{% block content %}
    <!-- this is the area for the list of items -->
	<div class="row">
		<div class="col-md-12">
			<h2>Clothes</h2>
		</div>
	</div>
	<!-- this results container will contain dynamic data! -->
    <div id="results" class="container">
		<!-- DYNAMIC DATA GOES HERE! -->
		{% for obj in data %}
		{% if loop.index == 1 or (loop.index - 1) % 3 == 0 %}
		<div class="row">
		{% endif %}
			<div class="col-md-4">
				<div class="resultsItem">
					<h3>{{ obj.title }}</h3>
					<div class="resultsImg">
						<img src="{{url_for('static', filename=obj.img_url)}}">
					</div>
					<p>{{ obj.description }}</p>
					<br class="clearfix">
				</div>
			</div>
        {% if loop.index % 3 == 0 %}
		</div>
		{% endif %}
		{% endfor %}
    </div>
{% endblock %}
